<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sarabun&family=Kosugi+Maru&display=swap" rel="stylesheet">

  {%- include head.html -%}

  <body>
   
    {%- include header.html -%}
    
    <div class="py-3">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
