---
layout: default
---

<div>

  {%- if page.title -%}
  <header class="mb-2">
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  {%- if paginator.page == 1 -%}
  <div class="card mb-2 text-white bg-success">
    <div class="card-body mb">
      <h3 class="card-title"> ชื่อนน คนชลฯ อยู่ภาคไฟ </h3>
      <p class="card-text">
        รวมบทความของนิสิตคณะวิศวะฯ คนหนึ่งในจุฬา ที่เรียนภาคไฟฟ้า ตั้งแต่เรื่องสังคม เศรษฐกิจ แนวคิด ประวัติศาสตร์ ภาษา ฯลฯ 
        ที่เคยเขียนใน Facebook และที่ต่าง ๆ รวมทั้งพวกเนื้อหาที่เป็นประโยชน์เกี่ยวกับเรื่องเรียน <br>
        ถ้าหาบทความไหนหาไม่เจอให้ลองค้นใน <u><a href="{{ "contents" | relative_url }}" class="text-light">"สารบัญ"</a></u> นะครับ
      </p>
    </div>
  </div>
  {%- endif -%}

  <p class="h2 mb-2">{{ page.list_title | default: "บทความต่าง ๆ" }}</p>
  <ul class="list-unstyled">
    {%- for post in paginator.posts -%}
    <li>

      <div class="card mb-1" style="width: device-width; height: 285px;">
        <div class="row no-gutters">
          
          <div class="col-md-4" style="height: 285px;">
            <img src="{{ post.cardimage | relative_url }}" class="card-image img-fluid img-cover" alt="...">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
              <h5 class="card-subtitle text-muted">
                {%- assign date_format = "%b %-d, %Y" -%}
                {{ post.date | date: date_format }}  
              </h5>
              <p class="card-text mt-1">{%- if site.show_excerpts -%}{{ post.excerpt | strip_html | strip_newlines | truncate: 240 }}{%- endif -%}</p>
              {% for tag in post.tags %}
                <span class="badge badge-pill badge-primary">
                  {{ tag }}
                </span>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    
    </li>

    {%- endfor -%}
  </ul>
    
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a></li>
      {% endif %}
      {% if paginator.next_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a></li>
      {% endif %}
  </nav>

</div>
