---
layout: default
---

<style>
  .sticky-offset{
    top:90px;
  }
  html {
    scroll-behavior: smooth;
  }
</style>

<article>

  <div class="container-fluid ml-n2 mr-n2">
    <div class="row">

      <div class="col-lg-4">
        <div class="card sticky-top sticky-offset mln-4 mr-4">
          <h5 class="card-header">Table of Content</h5>
          <div class="card-body mx-n2 my-n2">
            <p class="card-text">{% include toc.html html=content %}</p>
          </div>
        </div>
      </div>

      <div class="col">
        
        <header>
          <h1>{{ page.title | escape }}</h1>
          <p class="text-muted">
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {%- assign date_format = "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
              • {{ page.author }}
            {%- endif -%}
          </p>
        </header>
      
        <section>
          {{ content }}
        </section>

      </div>
    </div>
  </div>

</article>
